* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#main{
    display:'none';
}
#signup{
    margin-top: 20px;
    margin-bottom:50px;
    border-radius: 13px;
    max-width: max-content;
    margin-left:27%;
    margin-right:30%;
    color:rgb(255, 255, 255);
    font-size: 22px;
    background-color: #00000069;
    padding: 10px 20px;
}

#signup input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0;
    background-color: #fffefe;
    color: #000000;
    font-size: 20px;
}
#signup button{
    padding:5px 10px;
    font-size: 20px;
    margin-left: 40%;
    border-radius: 13px;
}
.container {
    min-height: 100vh;
    width: 100%;
    padding: 2%;
}

.links {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 50px;
}

.links a {
    color: rgba(241, 218, 218, 0.545);
    font-size: 14px;
    text-decoration: none;
    margin: 0 10px;
}
.links button{
    border:2px solid gray;
    border-radius: 8px;
    background-color:rgb(85, 69, 47);

}

#logo {
    margin-left: 25%;
    mix-blend-mode:exclusion;
    opacity: 90%;
    height: 250px;
    width: 600px;
    border-radius: 80px;
}

.search {
    margin-top: 37px;
    margin-left: 25%;
    width: 580px;
    height: 50px;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search input {
    margin-left: 10px;
    background: transparent;
    height: 30px;
    width: 500px;
    border: 0px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    color: #cac7ff;
}

::placeholder {
    color: rgb(71, 85, 122);
}

.search button img {
    /* display: flex; */
    margin-left: 1px;
    margin-top:0px;
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.search button {
    margin-right: -11px;
    border: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #58629b;
    cursor: pointer;
}

#btn2{
    margin-left: 38%;
    margin-top: 35px;
}
.btn2{
    height: 30px;
    width:max-content   ;
    margin-right: 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight:bold;
    text-decoration: none;
    padding: 4px;
    padding-left: 6px;
    color: #3a3a36;
    border:groove;
    background-color: rgb(164, 163, 163);
    cursor: pointer;
    
}

.btn2 a{
    text-decoration: none;
    color: #58629b;
}

a:hover{
    color: rgb(156, 91, 91);
}

#input{
    border-radius: 13px;
}

.footer {
    display: flex;
    margin-top: 50px;
    position: absolute;
    bottom: 15px;
}

.footer a {
    color: #9b9b9b;
    font-size: 14px;
    text-decoration: none;
    margin: 0 10px;
}